<!DOCTYPE html>
<html lang="en">
<footer>
    <div class="footer" style="background-color: #40A578; color: #E6FF94; display: flex; align-items: center; justify-content: center; " >
    <p>&#169 2024 All Right Reserved </p>
    </div>
</footer>    

</html>